.wp-block-misc-gutenberg-blocks-flexbox {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	&.misc-gutenberg-blocks-flexbox--wrap {
		flex-wrap: wrap;
	}
	&.misc-gutenberg-blocks-flexbox--no-wrap {
		flex-wrap: nowrap;
	}

	&.misc-gutenberg-blocks-flexbox--reverse {
		flex-direction: row-reverse;
	}
	&.misc-gutenberg-blocks-flexbox--horizontal {
		flex-direction: row;
		&.misc-gutenberg-blocks-flexbox--reverse {
			flex-direction: row-reverse;
		}
	}
	&.misc-gutenberg-blocks-flexbox--vertical {
		flex-direction: column;
		&.misc-gutenberg-blocks-flexbox--reverse {
			flex-direction: column-reverse;
		}
	}

	&.misc-gutenberg-blocks-flexbox--justify-flex-start {
		justify-content: flex-start;
	}

	&.misc-gutenberg-blocks-flexbox--justify-flex-end {
		justify-content: flex-end;
	}

	&.misc-gutenberg-blocks-flexbox--justify-center {
		justify-content: center;
	}

	&.misc-gutenberg-blocks-flexbox--justify-space-between {
		justify-content: space-between;
	}

	&.misc-gutenberg-blocks-flexbox--justify-space-around {
		justify-content: space-around;
	}

	&.misc-gutenberg-blocks-flexbox--align-flex-start {
		align-items: flex-start;
	}

	&.misc-gutenberg-blocks-flexbox--align-flex-end {
		align-items: flex-end;
	}

	&.misc-gutenberg-blocks-flexbox--align-baseline {
		align-items: baseline;
	}

	&.misc-gutenberg-blocks-flexbox--align-center {
		align-items: center;
	}

	&.misc-gutenberg-blocks-flexbox--align-stretch {
		align-items: stretch;
	}

	&.misc-gutenberg-blocks-flexbox--align-none {
		align-items: initial;
	}
	&.misc-gutenberg-blocks-flexbox--grow {
		flex-grow: 1;
	}
	&.misc-gutenberg-blocks-flexbox--no-grow {
		flex-grow: 0;
	}
	&.misc-gutenberg-blocks-flexbox--shrink {
		flex-shrink: 1;
	}
	&.misc-gutenberg-blocks-flexbox--no-shrink {
		flex-shrink: 0;
	}
	&.misc-gutenberg-blocks-flexbox--flex {
		display: flex;
	}
	&.misc-gutenberg-blocks-flexbox--inline-flex {
		display: inline-flex;
	}
	&.misc-gutenberg-blocks-flexbox--none {
		display: none;
	}
	&.misc-gutenberg-blocks-flexbox--width-auto {
		width: auto;
	}
	&.misc-gutenberg-blocks-flexbox--width-initial {
		width: initial;
	}
	// }
	@media only screen and (max-width: 992px) {
		&.misc-gutenberg-blocks-flexbox--tablet-wrap {
			flex-wrap: wrap;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-no-wrap {
			flex-wrap: nowrap;
		}

		&.misc-gutenberg-blocks-flexbox--tablet-reverse {
			flex-direction: row-reverse;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-horizontal {
			flex-direction: row;
			&.misc-gutenberg-blocks-flexbox--tablet-reverse {
				flex-direction: row-reverse;
			}
		}
		&.misc-gutenberg-blocks-flexbox--tablet-vertical {
			flex-direction: column;
			&.misc-gutenberg-blocks-flexbox--tablet-reverse {
				flex-direction: column-reverse;
			}
		}

		&.misc-gutenberg-blocks-flexbox--justify-tablet-flex-start {
			justify-content: flex-start;
		}

		&.misc-gutenberg-blocks-flexbox--justify-tablet-flex-end {
			justify-content: flex-end;
		}

		&.misc-gutenberg-blocks-flexbox--justify-tablet-center {
			justify-content: center;
		}

		&.misc-gutenberg-blocks-flexbox--justify-tablet-space-between {
			justify-content: space-between;
		}

		&.misc-gutenberg-blocks-flexbox--justify-tablet-space-around {
			justify-content: space-around;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-flex-start {
			align-items: flex-start;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-flex-end {
			align-items: flex-end;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-baseline {
			align-items: baseline;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-center {
			align-items: center;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-stretch {
			align-items: stretch;
		}

		&.misc-gutenberg-blocks-flexbox--align-tablet-none {
			align-items: initial;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-grow {
			flex-grow: 1;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-no-grow {
			flex-grow: 0;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-shrink {
			flex-shrink: 1;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-no-shrink {
			flex-shrink: 0;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-flex {
			display: flex;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-inline-flex {
			display: inline-flex;
		}
		&.misc-gutenberg-blocks-flexbox--tablet-none {
			display: none;
		}
		&.misc-gutenberg-blocks-flexbox--width-tablet-auto {
			width: auto;
		}
		&.misc-gutenberg-blocks-flexbox--width-tablet-initial {
			width: initial;
		}
	}
	@media only screen and (max-width: 600px) {
		&.misc-gutenberg-blocks-flexbox--mobile-wrap {
			flex-wrap: wrap;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-no-wrap {
			flex-wrap: nowrap;
		}

		&.misc-gutenberg-blocks-flexbox--mobile-reverse {
			flex-direction: row-reverse;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-horizontal {
			flex-direction: row;
			&.misc-gutenberg-blocks-flexbox--mobile-reverse {
				flex-direction: row-reverse;
			}
		}
		&.misc-gutenberg-blocks-flexbox--mobile-vertical {
			flex-direction: column;
			&.misc-gutenberg-blocks-flexbox--mobile-reverse {
				flex-direction: column-reverse;
			}
		}

		&.misc-gutenberg-blocks-flexbox--justify-mobile-flex-start {
			justify-content: flex-start;
		}

		&.misc-gutenberg-blocks-flexbox--justify-mobile-flex-end {
			justify-content: flex-end;
		}

		&.misc-gutenberg-blocks-flexbox--justify-mobile-center {
			justify-content: center;
		}

		&.misc-gutenberg-blocks-flexbox--justify-mobile-space-between {
			justify-content: space-between;
		}

		&.misc-gutenberg-blocks-flexbox--justify-mobile-space-around {
			justify-content: space-around;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-flex-start {
			align-items: flex-start;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-flex-end {
			align-items: flex-end;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-baseline {
			align-items: baseline;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-center {
			align-items: center;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-stretch {
			align-items: stretch;
		}

		&.misc-gutenberg-blocks-flexbox--align-mobile-none {
			align-items: initial;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-grow {
			flex-grow: 1;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-no-grow {
			flex-grow: 0;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-shrink {
			flex-shrink: 1;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-no-shrink {
			flex-shrink: 0;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-flex {
			display: flex;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-inline-flex {
			display: inline-flex;
		}
		&.misc-gutenberg-blocks-flexbox--mobile-none {
			display: none;
		}
		&.misc-gutenberg-blocks-flexbox--width-mobile-auto {
			width: auto;
		}
		&.misc-gutenberg-blocks-flexbox--width-mobile-initial {
			width: initial;
		}
	}
}
//
//
