.wp-block-misc-gutenberg-blocks-icon-and-text {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	> * {
		min-width: 0;
		&.misc-gutenberg-blocks-icon-and-text--left {
			img {
				display: block;
				margin: 0;
				width: 100%;
			}
			position: relative;
		}
	}
	&.has-text-align-left {
		justify-content: flex-start;
	}
	&.has-text-align-right {
		justify-content: flex-end;
	}
	&.has-text-align-center {
		justify-content: center;
	}
	@media only screen and (min-width: 993px) {
		&.misc-gutenberg-blocks-icon-and-text--is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.misc-gutenberg-blocks-icon-and-text--is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.misc-gutenberg-blocks-icon-and-text--is-reversed {
			flex-direction: row-reverse;
		}
	}
	@media only screen and (min-width: 601px) and (max-width: 992px) {
		&.misc-gutenberg-blocks-icon-and-text--tablet-is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.misc-gutenberg-blocks-icon-and-text--tablet-is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.misc-gutenberg-blocks-icon-and-text--tablet-is-reversed {
			flex-direction: row-reverse;
		}
	}
	@media only screen and (max-width: 600px) {
		&.misc-gutenberg-blocks-icon-and-text--mobile-is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.misc-gutenberg-blocks-icon-and-text--mobile-is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.misc-gutenberg-blocks-icon-and-text--mobile-is-reversed {
			flex-direction: row-reverse;
		}
	}
}
