.wp-block-block-booster-default-featured-image {
	overflow: hidden;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
	&.wp-block-block-booster-default-featured-image--top img {
		object-position: top;
	}
	&.wp-block-block-booster-default-featured-image--center img {
		object-position: center;
	}
	&.wp-block-block-booster-default-featured-image--bottom img {
		object-position: bottom;
	}
}
