.icon_svg__block-booster-category-card-icon {
	fill: none !important;
	stroke: #2c817b !important;
}

.block-booster-list-item {
	cursor: pointer;
	width: 100%;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
