.wp-block-block-booster-category-card:not(
		.wp-block-block-booster-category-card--no-css
	) {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	border-radius: 6px;
	text-decoration: none;
	.wp-block-block-booster-category-card--image-wrapper {
		display: flex;
		border: solid 1px #ddd;
		width: 64px;
		height: 64px;
		border-radius: 64px;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		svg,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.wp-block-block-booster-category-card--type-svg {
			img {
				width: 32px;
				aspect-ratio: 1;
				object-fit: contain;
			}
		}
	}
	.wp-block-block-booster-category-card--left,
	.wp-block-block-booster-category-card--right {
		display: flex;
	}
	.wp-block-block-booster-category-card--left {
		align-items: center;
	}
	.wp-block-block-booster-category-card--right {
		flex-direction: column;
		span {
			display: flex;
			&.wp-block-block-booster-category-card--name {
				color: black;
				font-weight: bold;
			}
			&.wp-block-block-booster-category-card--count {
				color: gray;
			}
		}
	}
	&.wp-block-block-booster-category-card--vertical {
		flex-direction: column;
	}
}
