.wp-block-misc-gutenberg-blocks-media-and-text {
	.misc-gutenberg-blocks-media-and-text--right {
		> div {
			> .block-editor-inner-blocks {
				display: flex;
				width: 100%;
				> .block-editor-block-list__layout {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}
.icon_svg__misc-gutenberg-blocks-media-and-text-icon {
	fill: none !important;
	stroke: #2c817b !important;
}
.block-editor-list-view-block__contents-cell {
	&[aria-selected="true"] {
		.icon_svg__misc-gutenberg-blocks-media-and-text-icon {
			stroke: #fff !important;
		}
	}
}
.svg-no-fill {
	fill: none !important;
}
