.wp-block-block-booster-media-and-text {
	display: flex;
	gap: 15px;
	> * {
		min-width: 0;
		width: 50%;
		&.block-booster-media-and-text--left {
			img {
				display: block;
				margin: 0;
				width: 100%;
			}
			position: relative;
			&.has-image {
				.block-booster-media-and-text-button-container {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 5px;
					width: 100%;
					background-color: rgba(255, 255, 255, 0.8);
					button {
						margin: 10px;
					}
				}
			}
			&.has-no-image {
				padding: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&.block-booster-media-and-text--single-child {
		.block-booster-media-and-text--right {
			display: flex;
			> div {
				display: flex;
				width: 100%;
			}
		}
	}
	@media only screen and (min-width: 993px) {
		&.block-booster-media-and-text--is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.block-booster-media-and-text--is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.block-booster-media-and-text--is-reversed {
			flex-direction: row-reverse;
		}
	}
	@media only screen and (min-width: 601px) and (max-width: 992px) {
		&.block-booster-media-and-text--tablet-is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.block-booster-media-and-text--tablet-is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.block-booster-media-and-text--tablet-is-reversed {
			flex-direction: row-reverse;
		}
	}
	@media only screen and (max-width: 600px) {
		&.block-booster-media-and-text--mobile-is-stacked {
			flex-direction: column;
			> * {
				width: 100%;
			}
			&.block-booster-media-and-text--mobile-is-reversed {
				flex-direction: column-reverse;
			}
		}
		&.block-booster-media-and-text--mobile-is-reversed {
			flex-direction: row-reverse;
		}
	}
}
